@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Racing+Sans+One&display=swap');

.contenedorDetails{
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 15px auto 15px auto;
}

img{
    max-height: 500px;
    margin: auto;
}

.contador{
    margin: auto;

}

.titulo{
    font-family: 'Racing Sans One', cursive;
}